<div class="box-product">
    <div class="img-preview">
        <img src="{{ image }}" alt="Preview">
    </div>
    <div class="product-content">
        <h6 class="product-name">{{ name }}</h6>
        <p class="short-description">{{ shortDescription }}</p>
    </div>
    <div class="product-action">
        <div class="action-left">
            <button>Buy now</button>
        </div>
        <div class="action-right">
            <p class="mb-0">${{ price }}</p>
        </div>
    </div>
</div>
